/* Since I started playing Krunker, I always loved watching Krunker Streamer and see how their game looks and how they play to compare myself to them, you know see what is wrong / nice / cool / interesting. 
And there is one thing I didn't had is a cool CSS that I liked, so I created my own CSS not from nothing but from the Idea, the mood, the colorness of "Ntec" an old famous krunker streamer "very accurate player".

You may find similarity with my css and some old Ntec's css. His original css have not been updated since a good 2 years from now, and I wanted that mood again, so here it is. */

/* Discord : heronight67 */


/* COLORS */
:root {
    --white: #fff;
    --offwhite: #f8f8ff;
    --black: #000;
    --transp: #15151500;
    --outline: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    --outline2: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;
}
/* FONT */
@font-face {
    font-family: gamefont;
    src: url(https://fonts.gstatic.com/s/poppins/v15/pxiEyp8kv8JHgFVrJJfecg.woff2);
}
    /* Loading UI + Ingame UI CLASS ICON */
/* Main Class */
img[src="https://assets.krunker.io/img/customize/class.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icons/refs/heads/main/mainclass.png');
}
/* Assault */
img[src="https://assets.krunker.io/textures/classes/icon_0.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icons/refs/heads/main/Assault.png');
}
/* Sniper */
img[src="https://assets.krunker.io/textures/classes/icon_1.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/Sniper.png');
}
/* Run N Gun */
img[src="https://assets.krunker.io/textures/classes/icon_2.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/SMG.png');
}
/* Srayn N Pray */
img[src="https://assets.krunker.io/textures/classes/icon_3.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/LMG.png');
}
/* Vince */
img[src="https://assets.krunker.io/textures/classes/icon_4.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/Shotgun.png');
}
/* Detective */
img[src="https://assets.krunker.io/textures/classes/icon_5.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/rev.png');
}
/* Marksman */
img[src="https://assets.krunker.io/textures/classes/icon_6.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/semi.png');
}
/* Rocketeer */
img[src="https://assets.krunker.io/textures/classes/icon_7.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/rocketeer.png');
}
/* Agent / ninja ;) */
img[src="https://assets.krunker.io/textures/classes/icon_8.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/uzi.png');
}
/* Runner */
img[src="https://assets.krunker.io/textures/classes/icon_9.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/Runner.png');
}
/* Deagler */
img[src="https://assets.krunker.io/textures/classes/icon_10.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/deagler.png');
}
/* Bowman */
img[src="https://assets.krunker.io/textures/classes/icon_11.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/bowman.png');
}
/* Commando */
img[src="https://assets.krunker.io/textures/classes/icon_12.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/famas.png');
}
/* Trooper */
img[src="https://assets.krunker.io/textures/classes/icon_13.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/blaster.png');
}
/* Surviror */
img[src="https://assets.krunker.io/textures/classes/icon_14.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/survivor.png');
}
/* Infiltrator */
img[src="https://assets.krunker.io/textures/classes/icon_15.png?build=BXagQiL7DeAR1ZT7D3ItdrjTZSNjX1VS"] {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icpns/main/chargeRifle.png');
}
/* EndGame Icon */
#victorySub {
    visibility:hidden !important;
}
/* Defeat */
#victorySub img[src="https://krunker.io/img/def.png"]::after {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icons/refs/heads/main/def.png');
    display: inline-block;
    visibility:visible !important;
    width: 100px;
    height: auto;
}
/* Victory */
#victorySub img[src="https://krunker.io/img/vic.png"]::after {
    content: url('https://raw.githubusercontent.com/HeroNight67/custom_css_Icons/refs/heads/main/vic.png');
    display: inline-block;
    visibility:visible !important;
    width: 100px;
    height: auto;
}

/* IN-GAME HUD */
    /* ICONS */
#matchInfo, #timerIcon, #maxHP, #ammoMax, #ammoIcon, #curGameInfo, #reloadMsg, #bundlePop, #premiumPop, {
    display: none !important
}
#premiumPop, #PC7WaterMark1, #aContainer, #aMerger {
        display: none !important
}
#timerDisplay {
    position: fixed;
    left: 47.5%;
    top: 1%;
    background-color: #00000000;
    text-shadow: 6px 2px var(--black);
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));    
}
#windowCloser {
    background-color: rgba(0, 0, 0,.8);
}
.accountInput {
    background-color: rgb(255 255 255 / 0.05);    
}

.joinBtn {
    background-color: #000000;
    border: 1px solid;
}
#menuWindow > div:nth-child(2) {
    background-color: #0000 !important;
}
.premText i {
    padding-right: 5px;
}
.pubHed {
    background: rgb(0 0 0 / 96%);
    border-bottom: 2px solid #fff !important;    
    border-radius: 12px;
}
.mapFndB {
    background-color: #000000 !important;
}
.mapFndB:hover {
    border: 2px solid #fff !important;
}
.confPremiumPop {
    background-color: rgb(0 0 0 / 0.7);
    border: 1px solid #fff !important;
}
#timerHolder {
        background-color: transparent !important;
}
#specStats.topLeftOld {
    background-color: rgb(0 0 0 / 70%);
    border-radius: 6px !important;
}
#specStatsInner {
    background-color: rgba(0, 0, 0, 0);
}
#spectHPV {
    display: none !important;
}
#spectHPBI {
  filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
  background-color: rgb(74 74 74 / 0.7) !important;
  z-index: 0 !important;
}
#timerInner.topLeftOld {
    padding: 0px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: transparent !important;
    display: inline-block;
}
#timerIcon {
    display: none !important;
}
#timerVal.topLeftOld {
    font-size: 45px!important;
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black)) !important;
}
.countIcon {
    background-color: #e60d0d00;
    border-radius: 0;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 10px;
}
/* LeaderBoard Badge 

.leaderNameM::before { 
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('GIF YOU WANT');
    background-size: cover;
    vertical-align: middle;
    margin-right: 3px;
    margin-left: -4px;
}*/
.statIcon,.greyInner {
    background:transparent;
    margin-bottom:0px;
    filter: drop-shadow(-1px -1px var(--black)) drop-shadow(1px 1px var(--black)) drop-shadow(-1px 1px var(--black)) drop-shadow(1px -1px var(--black));    
}

#scoreCount > div > i.material-icons {
    display:none
}
#killsVal, #deathsVal, #streakVal, #myScoreVal, #kdVal, #livesDisp {
    color: rgb(255 255 255);
}
#livesDisp::after, #killsVal:after,#deathsVal:after,#kdVal::after,#streakVal:after,#myScoreVal:after {
    font-size:12px;
}

#killsVal:after {
    content:" K"
}
#deathsVal:after {
    content:" D"}

#streakVal:after {
    content:" S"
}
#kdVal::after {
    content:" KD"
}
#myScoreVal:after {
    content:" Score"
}
#livesDisp::after {
    content: 'Lives'
}

#hudClassIcon {
    width: 80px;
    height: 80px;
    bottom: 71px;
    left: 25px;
    border-radius: 0;
    margin-right: 0;
    display: block;
    position: fixed;
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
    background-color: transparent;
}
#hudClassImg {
    border-radius: 0;
}
.centerLeaderContainer{
  background-color: rgba(0 0 0 / 0%);
}
.centerLeaderContainerInner {
  background-color: rgba(0 0 0 / 60%);
  border: 2px  solid #fff;
  border-radius: 6px;
}
#krTagHolder > div > div {
    background-color: rgb(255 255 255 / 0%) !important;
    position: fixed;
    transform: translateX(-50%);
    left: 50%;
    top: 0px;
    width: 100px;
    height: 100px;
}
.killStreakCnt {
    position: absolute;
    text-align: right;
    right: 4px;
    bottom: 4px;
    color: #fff;
    font-size: 35px;
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
}
    /* TRADING LOADOUT */
    .tTotal {
    color: rgb(0 0 0);
    padding-left: 5px;
    }
        /* NUKE ICON */
/*
[src="./img/streaks/0.png"] {
    content:url();
}
*/
    /* HEALTH */
#healthValueHolder {
    padding: 0;
    margin: 0;
    position: fixed;
    left: calc(10% - 110px);
    bottom: 49px;
    background-color: transparent;
}
#healthValue {
    color: var(--white);
    font-size: 64px;
    text-shadow: 8px 4px var(--black);
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
}
#healthValue::after {
    content: "HP";
    font-size: 24px;
    margin-left: 1px;
    color: var(--white);
    text-shadow: 4px 2px var(--outline);   
}
#healthBar {
    width: 280px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.4);
    border-radius: 0;
    position: fixed;
    left: calc(6% - 120px);
    bottom: 40px;
    transform: skewX(-24deg);
    outline: 6px solid var(--black);
}
.healthBarSeg {
    width: -webkit-fill-available;
    margin: 0 -1px;
    border-radius: 0;
    background-color: transparent;
}
.hpBSeg {
    border-radius: 0;
    box-shadow: none;
}
.hpBSeg[style*="#cd3732"] {
    background-color: var(--black) !important;
}
/* AMMO */
#ammoHolder {
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0) !important;
    font-size: 29px;
    letter-spacing: -2px;
    background-repeat: no-repeat;
    background-size: 0% 0% !important;
    background-image: url(../img/blank_2.png);
    bottom: 10px !important;
    transform: translateZ(0);
}

.ammoDisplay {
    transform: unset;
    background-color: transparent;
    position: fixed;
    left: calc(50% - 40px);
    height: 8px;
    width: 80px;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(var(--white), var(--white));
}
#ammoVal {
    transform: translateY(-100%) !important;
    font-size: 80px !important;
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
    position: fixed;
    bottom: -40px !important;
    left: -95px !important;  
}
#ammoMax, #ammoIcon {
    display: none !important;
}
.greyInner, .greyInlineInner, .greyInlineInnerMid {
    background-color: rgb(1 1 1 / 0%);
}
/* WEAPON ITEMS */
.weapItem {
    position: fixed;
    width: 180px;
    height: 80px;
    background: 0 !important;
    text-align: left;
    border: none !important;
    right: 10% !important;
    bottom: 5% !important;
    transition-duration: 0.0447s;
    text-shadow: 1px 0 0 #333, -1px 0 0 #333, 0 1px 0 #333, 0 -1px 0 #333, 
                 1px 1px #333, -1px -1px 0 #333, 1px -1px 0 #333, -1px 1px 0 #333 !important;
}
.weapItem[style*="1"] {
    opacity: 1 !important;
}
.weapItem[style*="0.5"] {
    transform: translate(-50%, -50%) translateX(300px);
}
.weapItemInner {
    color: rgba(255, 255, 255, 0.7);
    background: transparent !important;
    margin: 3px;
    padding: 2px 10px;
    display: inline-block;
}
/* WEAPON ICON */
.weapIcon {
    background: 0 !important;
    width: 110px;
    height: 55px;
    transform: scaleX(-1);
    filter: drop-shadow(2px 2px var(--black)) 
            drop-shadow(-2px -2px var(--black)) 
            drop-shadow(-2px 2px var(--black)) 
            drop-shadow(3px -3px var(--black))
            drop-shadow(-3px 3px var(--black)); 
    opacity: 1 !important;
    transition-duration: 0.25s;
    position: absolute;
}
.weapIcon[style*="1"] {
    height: 80px;
}
.weapKey, .weapSkin, .weapStreakInner {
    display: none !important;
}
/* WEAPON DISPLAY */
#weapHolder {
    bottom: 10px !important;
    right: -35px;
    transform: translateX(-50%) scale(1.3);
    position: absolute;
}
    /* TIMER */
#uiBase.onMenu #spectateUI {
    display: block !important;
    position: fixed;
    bottom: 48.5%;
    top: unset;
    left: 50%;
    z-index: 1;
    width: 10px;
    height: 10px;
    text-shadow: 6px 2px var(--black);
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
}
#uiBase.onMenu #spectateHUD {
    display: flex;
    justify-content: center;
    transform: unset;
    left: unset;
}

#uiBase.onMenu #specTeam0, #uiBase.onMenu #spec0, #uiBase.onMenu #spec1, #uiBase.onMenu #specNames, #uiBase.onMenu #specStats, #uiBase.onMenu #specControl, #specControlHolder, #uiBase.onMenu #specKPDContr, #uiBase.onMenu #specSus, #uiBase.onMenu #specTeam1, #uiBase.onMenu #specGMessage, #uiBase.onMenu #specGameInfo {
    display: none;
    opacity: 0;
    left: auto;
}
#uiBase.onMenu #specTimer {
    display: block!important;
    font-size: 50px;
    background-color: transparent;
    color: rgba(255,255,255,.55)
}
    /* LEADERBOARD */
.leaderNameM, .newLeaderNameM, .endTableN[style='color: #fff;'] {
    color: var(--white);
    text-shadow: var(--outline)
}
.leaderNameF, .newLeaderNameF, .endTableN[style='color: rgba(255,255,255,.6);'] {
    color: #d4d4d4 !important;
    text-shadow: var(--outline)
}
.leaderName, .newLeaderName, .endTableN[style='color: #eb5656;'] {
    color: #7d7d7d !important;
    text-shadow: var(--outline)
}
.leaderScore {
    color: var(--white) !important;
    text-shadow: var(--outline)
}
.leaderCounter {
    color: var(--white) !important;
    text-shadow: var(--outline)
}
#leaderContainer {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    bottom: 60px !important;
}
#leaderContainer:before {
    content: '1st is Better' !important;
    font-family: gamefont !important;
    font-size: 28px !important;
    color: #fff !important;
    margin-bottom: 3px var(-div black);
    padding-bottom: 10px !important;
    display: block !important;
    text-align: left !important;
    background-color: transparent !important;
    position: relative;
    border-bottom: 4px solid #fff !important;
    padding-bottom: 1px !important;
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));
}
#leaderboardHolder {
    background-color: transparent !important;
}
.leaderItem{
    margin-top: 3px !important;
}
        /* SCORES */
        #teamScores {
            position: fixed;
            top: 10px;
            left: 50%;
            transform: translateX(-50%);
            width: 685px;
            height: 50px;
            padding: 10px;
            padding-left: 0;
            padding-top: 0;
            padding-right: 0;
            padding-bottom: 0;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 0;
            border-radius: 0;
            background-color: var(--transp);
            text-shadow: var(--outline)
        }

        .tScore {
            display: inline-block;
            color: var(--black) !important;
        }

        #tScoreV1 {
            position: fixed;
            left: -25%;
            top: 4px;
            background-color: var(--transp)
        }

        #tScoreV2 {
            position: fixed;
            left: 25%;
            top: 4px;
            background-color: var(--transp)
        }

        .tScoreT {
            width: 100%;
            margin-top: 12px;
            text-align: center;
            font-size: 24px;
            color: var(--white) !important;
            text-shadow: var(--outline);
            background-color: var(--transp);
            z-index: 2;
        }

        .tScoreM {
            display: none;
            background-color: var(--transp);
            color: var(--black) !important;
        }

        .tScoreF {
            left: 50%;
            width: 90px;
            height: 60px;
            margin-left: 125px;
            margin-right: 125px;
            padding-left: 0;
            padding-right: 0;
            background-color: var(--transp);
            color: #7d7d7d !important;
            opacity: 50%;
            z-index: 1;
        }

        .tScoreF.you {
            background-color: var(--transp);
            color: var(--white) !important;
            opacity: 50%;
            z-index: 1;
        }

        .tScoreC {
            left: 50%;
            width: 90px;
            height: 60px;
            margin-left: 125px;
            margin-right: 125px;
            background-color: var(--transp);
            color: var(--black) !important;
            opacity: 50%;
            z-index: 1;
        }

        .tScoreC.you {
            background-color: var(--transp);
            opacity: 50%;
            z-index: 1;
        }
    /* CHAT */
.chatItem {
   background-color: var(--transp) !important;
   color: var(--white);
   text-shadow: var(--outline)
}
.chatMsg {
    color: #84f300;
    text-shadow: var(--outline)
}
.chatMsg [style="color:#fff"] {
    color: var(--white) !important;
    text-shadow: var(--outline)
}
.chatMsg[style="color:#fc03ec"] {
    color: #ffffff !important;
    text-shadow: var(--outline)
}
.chatMsg [style="color:#eb5656"] {
    color: #7d7d7d !important;
    text-shadow: var(--outline)
}
.chatMsg [style="color:#9eeb56"] {
    color: #d4d4d4 !important;
    text-shadow: var(--outline)
}
.chatMsg [style="color:#76ff03"] {
    color: #84f300 !important;
    text-shadow: var(--outline)
}
#chatInput::placeholder {
    color: rgb(255 255 255);
    text-shadow: var(--outline)
}
#chatInput {
    background-color: var(--transp) !important;
    color: var(--white);
    border: var(--transp) !important;
    text-shadow: var(--outline); 
    font-size: 18px;
}
#chatInputHolder {
    width: 340px  !important;
    background-color: rgba(0,0,0,.3) !important;
    border-radius: 6px;
    grid-template-columns: auto 200px auto;
}
#chatList {
    background-color: rgba(0,0,0,.5) !important;
    border-radius: 6px
}
.tradeMsg {
    color: #e05a5a !important;
}
.voiceOff:after {
    display: none !important;
}
#recTimer {
    display: none !important;
}
#chatHolder {
    position: fixed;
    z-index: 1;
    width: 340px;
    bottom: 20px;
}
#uiBase.onMenu #chatHolder {
    bottom: 20px !important;
}
#voiceDisplay {
display: none !important
}
/*Bottom left Box ( Icon + health) */

#bottomLeftClassImg {
    display: none!important
}

#bottomLeftPlayer {
    background-color: rgb(0, 0, 0, 0);
    grid-template-columns: auto 190px auto;
}
#bottomLeftTeamType, #bottomLeftTeamName {
    visibility: hidden !important;
}
#bottomLeftHealthBar, #bottomLeftPlayerLeft, #bottomLeftPlayerRight {
    background-color: rgb(0 0 0 / 0);
}
#bottomLeftHealth {
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(3px -3px var(--black)) drop-shadow(-3px 3px var(--black));
    font-size: 36px !important;
    position: fixed;
    left: 70px !important;
    bottom: 65px !important;
    border: none !important;
}
#bottomLeftHealthBar {
    left: -65px !important;
    position: relative !important;
    transform: scale(1.15);
}
#bottomLeftHealth::after {
    content: "HP" !important;
    text-shadow:-1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020;
    position: absolute;
    font-size: 26px !important;
    left: 70px !important;
    bottom: 8px !important;
    color: white;
}
#bottomLeftChallIcon {
    display: none;
}
#bottomLeftChallIcon::before {
    content: "HP";
    filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(3px -3px var(--black)) drop-shadow(-3px 3px var(--black));
    font-size: 34px !important;
    display: inline-block;
}

.nHpBSeg {
    color: rgba(0, 0, 0, 1.0) !important;
    background-color: rgba(0, 0, 0, 1.0) !important;
}
    /* FPS + PING */

#fpsDisplay, #pingDisplay {
    font-size: 0 !important;
    display: inline-block;
    width: 100px;
}
#pingDisplay {
    position: fixed !important;
    display: block;
}
#pingText {
    color: #fff !important;
}
#ingameFPS::before {
    content: "FPS: ";
    padding-right: 5px !important;
}
#pingText::before {
    content: "PING: ";
    padding-right: 5px !important;
    left: 5px !important;
}
#ingameFPS, #pingText {
    color: var(--white) !important;
    font-size: 20px;
    filter: drop-shadow(1px 1px var(--black)) drop-shadow(-1px -1px var(--black)) drop-shadow(-1px 1px var(--black)) drop-shadow(1px -1px var(--black));
}
.debugInfo {
    position: absolute;
    left: 30% !important;
    transform: scale(1);
}
    /* Random need to sort  */
#faceItIconM {
        display: none !important
}
.krInfo {
    margin-left: 10px !important;
}
#killStreakHolder {
    position: relative;
    bottom: 300px;
    right: 35px;
    margin-right: 0;
    margin-bottom: 0;
}
.killStreakItem {
    width: 50px;
    height: 50px;
    background-color: transparent;
}
.button,.button:hover { 
    border: hidden !important;
}
.menuItem:hover > .menuItemTitle {
    color: #ff000000 !important;
}
.menBtnIcn {
    color: white !important;
}
.buttonO,.buttonP, .buttonR, .buttonPI, #menuBtnRanked {
    border: 4px solid #ffffff! important;
}
#faceItIconM, #mainLogoFace, #seasonLabel, #hostMenuBtn {
    display: none !important;
}
#mainLogo {
    visibility: hidden !important;
}
#menuItem {
    border-radius: 50px;
}

    /* CUSTOMIZE */
        /* MODEL */
/* class Container */
#menuClassContainer {
    transform: unset;
    bottom: 35px;
}
.noBtnCard, .streakCard {
    background-color: rgba(0,0,0,0);
}
#searchResultsMO {
    color: white !important;
}
.settingsHeader {
  padding-right: 20px;
}
#itemSearchH {
    background-color: rgba(0,0,0,0);
}
#itemSearch, .settingsHeader, #bindsHeader, .serverHeader {
    background-color: rgb(2 2 2 / 1);
    border: none !important;
}
#policePopC {
    height: 400px !important;
}
#itemSearch::placeholder {
    color: #fff;
}
#trustProgHD {
    font-size: 19px !important;
}
#policePopC div {
    color: white !important;
    margin-bottom: -4px !important;
}
.importPop, #policePopC {
    border: 2px solid #fff !important;
    background-color: rgba(0,0,0,0.7);
}
.vouchPop, .redVouchBtn, .ticketPop {
    border: 2px solid #fff !important;
    background-color: rgba(0,0,0,0.7);
}
.redVouchBtn {
    pointer-events: all;
    transition: all .08s;
}
.popHeader, .dropsPopHeader {
    border-bottom: 2px solid #fff !important;
    border-radius: 9px;
}
#menuWindow.dark::-webkit-scrollbar {
    display: none;
}
.dxp-img-anim {
    height: 534px;
    top: 0px;
}
.dxp-img {
    width: 800px;
}

#menuWindow.dark, #itemSearch,.bp-generic-pop, .bp-purchase-pop,.dxp-pop, .winSelH, .custBack, .instructionsHeader, .instructionsTabs{
    background-color: rgba(0,0,0,0.5);
}

#selectorContainer, .setHed, .setHedS, #instructionsUpdate, .hostHeader, #stickyHostH {
    background-color: rgba(0,0,0,0.9);
}
#menuClassName, #menuClassIcn, #menuClassNameTag #menuClassIcn, #menuClassSubtext, #bubbleContainer {
    display: none !important;
}
.smlInput {
    background-color: rgba(255,255,255,.05);    
}
#menuWindow > div:nth-child(1) > div > div:nth-child(9) > span {
    padding-right: 10px !important;
}
#menuWindow > div.serverHeader {
    width: 101%;
    transform: scale(1.03)
}
#menuWindow > div.bigMenTabs > div.bigMenTab.bigMenTabA > span, #shopHeader > div.bigMenTabs > div.bigMenTab.bigMenTabA > span, #menuWindow > div:nth-child(1) > div > div.bigMenTab.bigMenTabA > span {
    color: rgb(255 255 255 / 0.85) !important;    
}
.subPassChg {
    background-color: rgb(255 255 255 / 5%) !important;
    border: 1px solid #fff;
}
#menuWindow.dark .settName .updDisN{
    background-color: rgb(255 255 255 / 5%) !important;
    border: 1px solid #fff;
}
.settingsBtn {
    background-color: rgb(0 0 0) !important;
}
.settingsBtn:hover {
    border: 1px solid #fff !important;
} 
.slider {
    background-color: rgba(0,0,0,.5) !important;
}
input:checked+.slider {
    background-color: #6b6b6b !important;
}
#menuClassSubtext {
    color: var(--white);
}
.mailObj {
    border: 2px solid rgba(255,255,255,.10);
}
/* Buy Battlepass */

.bp-generic-btn {
    border:2px solid #fff !important;
}
.bp-generic-img-back{
    height: 557px !important;
}
.bp-generic-img {
    top: 100px !important;    
    left: -50px !important;
    height: 450px !important;
    transform: rotate(-16deg);
}
.bp-generic-text{
    visibility: hidden !important;
    position: relative !important;
}
.bp-generic-text::after {
    content: "Don't spend too much on games :)";
    visibility: visible;
    position: absolute;
    font-family: gamefont;
    font-size: 24px !important;
    left: 540px !important;
    top: -100px;
    color: white;
    text-shadow: 
        1px 1px 3px rgba(0,0,0,0.7),
        2px 2px 2px rgba(0,0,0,0.7),
        3px 3px 1px rgba(0,0,0,0.7);
}

/* Skip Levels Battlepass */
.bp-generic-header {
    visibility: hidden !important;
}
.bp-generic-pop, .bp-purchase-pop {
    border: 5px solid #fff;
}
/* Claim battlepass reward */
.responsePop {
    background-color: hsl(0deg 0% 0% / 70%);
    border: 3px solid #fff;
}
/* Spin History */
.spinHistoryHeader,.popHeader,  .dropsPopHeader {
    border-bottom: 0px solid #fff;
    background-color: hsl(0deg 0% 0% / 70%);
}
#spinHistoryPop, .spinHistoryStatsPop {
    background-color: hsl(0deg 0% 0% / 50%);
}
#spinHistoryBtn {
    background-color: #0000008a !important;
    box-shadow: inset 0 -7px 0 0 #00000099 !important;
}

#customizeButton {
    display: inline-flex;
    width: 430px;
    text-align: center;
    padding: 15px;
    font-size: 27px !important;
    pointer-events: all;
    padding-bottom: 22px;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    border: 4px solid #ffffff ! important;
}
#classPreviewCanvas {
    transition: none !important;
    margin-bottom: -110px;
    margin-right: -250px;
    opacity: 0;
    scale: 1;
}
#customizeButton .material-icons {
    display: none;
}
#customizeButton:hover {
    background-color: #0000005d !important;
    color: #ffffff9f !important;
    border: 1px solid #ffffff1c !important;
    bottom: 10px;
    width: 380px;
}
        /* CLASS */
.classCard {
    color: white !important;
    border: 2px solid #ffffff! important;
    background: rgba(0,0,0,0.5);
    font-size:0;
}
.classWeap {
    font-size:0;
    color: white !important;
    text-shadow:-1px -1px 0 #202020, 1px -1px 0 #202020, -1px 1px 0 #202020, 1px 1px 0 #202020, -2px -2px 0 #202020, 2px -2px 0 #202020, -2px 2px 0 #202020, 2px 2px 0 #202020, -3px -3px 0 #202020, 3px -3px 0 #202020, -3px 3px 0 #202020, 3px 3px 0 #202020;
}
.classHP {
    bottom: -20px;
}
.selectorItem .selectorIcon{
    filter: saturate(0);
    transition-duration: 0.3s;
}
.selectorItem:hover .selectorIcon {
    transform:scale(1);
    filter:saturate(1);
}
.classHP,.classHP span,.classLvl {
    color:white !important;
    font-size: 0 !important;
    transition-duration:0.3s;
}
.clsXPBarC, .xpEndBarB {
    background-color: #ffffff;
background-image: linear-gradient(to right,#191818,#ffffff) !important;}
.classXPBar {
    opacity:0;
    transition-duration:0.3s;
}
.classCard,.classWeap {
    font-size: 0px;
    transition-duration: 0.3s;
}
.classImgC {
    position:absolute;
    right: -80px;
    top: 18px;
    filter: saturate(0);
    transition-duration: 0.3s;
}
.classCard:hover .classWeap,.classCard:hover .classHP,.classCard:hover .classLvl {
    font-size:20px !important;
}
.classCard:hover {
    background-color:#000000a6;
    font-size:20px;
}
.classCard:hover .classImgC {
    transform:scale(1);
    filter:saturate(1);
}
.classCard:hover .classXPBar {
    opacity:1;
}
        /* LOADOUT */
        .skinCard {
            background-color: #00000075;
            text-shadow: var(--outline);
            font-size: 20px;
        }
        .skinCard:hover {
            background-color: var(--transp);
        }
        .itemOwn:after {
            display: none;
        }
        .itemSea {
            color: var(--transp) !important
        }
        .skinImgD {
            margin-top: 10px;
            margin-bottom: 40px;
            width: 100px;
            transition: all .15s ease-in-out; 
        }
        .skinRandom {
            color: #eee;
            position: absolute;
            top: 58px;   
        }
        .blackShad {
            text-shadow: -1px -1px 0 #1c1c1c, 1px -1px 0 #1c1c1c, -1px 1px 0 #1c1c1c, 1px 1px 0 #1c1c1c, -2px -2px 0 #1c1c1c, 2px -2px 0 #1c1c1c, -2px 2px 0 #1c1c1c, 2px 2px 0 #1c1c1c;
        }

/* Loading UI */ /*--*/ /* This CSS is made by HeroNight, and anyone else has no right into reselling it. DM on Discord : HeroNight67 for more information*/

#matchInfoHolder, #menuBtnQuickMatch, #menuBtnHost, #menuBtnBrowser, #inviteButton, #menuBtnJoin, #policeButton, #menuBtnRanked {
    bottom: -135px;
}
#matchInfoHolder {
    margin-bottom: 10px !important;
    position: relative;
    border-bottom: 5px solid #00000042;
} 
#menuAccountUsername {
    vertical-align: bottom;
    display: inline-block;
    border: none !important;
    padding: 6px 12px;
    animation: none !important;
}
/* Profile Icon*/
.blurred {
    filter: grayscale(0) opacity(1) !important;
}
.clsStatLvl {
    font-size: 18px !important;
}
/* XP BARS */
.xpBarB, .clsStatXPBarC {
    background-image: linear-gradient(to right,#191818,#ffffff) !important;
}
#instructions {
        filter: drop-shadow(2px 2px var(--black)) drop-shadow(-2px -2px var(--black)) drop-shadow(-2px 2px var(--black)) drop-shadow(2px -2px var(--black));    
}
.tItemCnt {
    position: absolute;
    top: 1px;
    right: 6px;
    font-size: 8px;
    color: #fff;
    font-size: 0.8em;
}
#policeButton {
    border: 4px solid #ffffff!important;
    image-rendering:pixelated;
    background-color:#0004;
    position:relative;
}
#policeButton:hover {
    background-color:rgba(0, 0, 0, 0.349);
    border : 0px solid #ffffff!important;
}
#menuKRCount,#menuJNKCount {
    margin-right:10px;
}
#mailIcon:hover {
    opacity:1;
    transform:scale(1.1);
}
.progressBarInner {
    background-image:none;
    background-color:var(--white);
}
#mLevelContV:before {
    content:'LVL ';
}
#spectButton [style*="font-size:15px;color:rgba(255,255,255,0.6)"] {
    display: none;
}
#spectButton .switchsml {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}
#spectButton .sliderSml {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
#spectButton .sliderSml:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
} 
#spectButton input[type="checkbox"] {
    display: none;
}
#spectButton input[type="checkbox"]:checked + .sliderSml {
    background-color: #414141;
}
#spectButton input[type="checkbox"]:checked + .sliderSml:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
}
#mapInfo, #matchInfo.topLeftOld {
    display: none !important
}
#topRightAdHolder, #mapInfoHld, #krDiscountAd, #infoHolder, #topLeftAdHolder, #streamContainer, #menuTimer, #PC7WaterMark, #PC7WaterMark2, #editorBtnM, .menuSocialB, .verticalSeparator {
    display: none !important;
}
#updateAd > div.helpTxtHol::after {
    content: "CSS made by" !important;
    color: #fff !important;
    visibility: visible !important;
    position: absolute !important;
    left: 5px !important;
    top: 0;
    font-size: 14px;
}
#updateAdVersion::after {
    content: "HeroNight";
    position: absolute;
    left: 5px !important;
    top: -5px;
    z-index: 1;
    font-size: 20px;
    color: #dd90f9;
    visibility: visible;
    display: block;
}
#updateAdIcon {
    width: 60px;
    height: 55px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(https://raw.githubusercontent.com/HeroNight67/custom_css_Icons/refs/heads/main/heronight.jpg) !important;
}
#updateAd > div.helpTxtHol, #updateAdVersion {
    visibility: hidden !important;
    position: relative !important;
}
/* Spin Window (optional) */
# spinHeader {
    visibility: hidden !important;
}
# spinHeader::before {
    content: "your text" !important;
    color: #fff !important;
    visibility: visible !important;
    position: absolute !important;
    left: -20%;
}
# spinCost {
    visibility: hidden !important;
}
# spinCost::before {
    content: "your text" !important;
    color: #fff !important;
    visibility: visible !important;
    position: absolute !important;
    left: -8px;
}
/* 2FA Window */
#twoFAPop {
    background-image: url(https://raw.githubusercontent.com/HeroNight67/custom_css_Icons/refs/heads/main/aaa.jpg);
}
#twoFAWindow {
    background-color: rgba(0,0,0,0.5) !important;
}
#twoFAmsg {
    color: white !important;
}
.twoFAIn, #purchaseSelector, .contPop {
    border: 2px solid #fff !important;
    background-color: rgba(0, 0, 0, .5);
}
.twoFAHeader {
    background-color: rgba(0,0,0,0.7) !important;
    border-bottom: 5px solid #fff !important;
}
#popupBack, #purchaseBack {
    background-color: rgba(0,0,0,.95);
}
/* Krunkies Shop*/
#purchaseSelector > div:nth-child(1)::after {
    content: "You openned the IRL money grabber, Watchout !! The producer of this CSS isn't lying when he say its 100% covered" !important;
    color: #fff !important;
    visibility: visible !important;
    position: absolute !important;
    left: 0 !important;
    top: 10 !important;
    font-size: 18px;
}
#purchaseSelector > div:nth-child(2)::after {
    content: "I hope your reading this and your saying to yourself, wow this CSS really covers 100% of the game";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    font-size: 17px;
    color: rgba(255, 255, 255, .4);
    visibility: visible;
}
#purchaseSelector > div:nth-child(1),
#purchaseSelector > div:nth-child(2) {
    visibility: hidden !important;
    position: relative !important;
}
#xsollaPayB, .pay-button {
    border: 1px solid #fff !important;
    background-color: #000000d9 !important;
}
#purchaseSelector {
  width: 716px;
}
/* Junkyard card */
.crftRcpeCrd {
    border: px solid #ffffff14 !important;
    background: rgb(0 0 0 / 50%);
}
#doubleXPHolder {
    border: 4px solid #eaeaea !important;
    background-color: rgba(0, 0, 0, .6);
}
/*COMPETITIVE WINDOW*/
#compClassPHolder, .compTScrB, #compTScrsB > div > div:nth-child(2), .compMenBtnS, .compSwpTmB {
    background-color: #00000000 !important; 
}
#uiBase.onCompMenu #chatHolder {
    bottom: 140px !important;
}
.compClassPItm {
    border: 4px solid #000 !important;    
}
#cmpDatBox {
    border-left: 20px solid #fff !important;
    text-shadow: -1px -1px 0 #1c1c1c, 1px -1px 0 #1c1c1c, -1px 1px 0 #1c1c1c, 1px 1px 0 #1c1c1c, -2px -2px 0 #1c1c1c, 2px -2px 0 #1c1c1c, -2px 2px 0 #1c1c1c, 2px 2px 0 #1c1c1c, -3px -3px 0 #1c1c1c, 3px -3px 0 #1c1c1c, -3px 3px 0 #1c1c1c, 3px 3px 0 #1c1c1c, -4px -4px 0 #1c1c1c, 4px -4px 0 #1c1c1c, -4px 4px 0 #1c1c1c, 4px 4px 0 #1c1c1c, -5px -5px 0 #1c1c1c, 5px -5px 0 #1c1c1c, -5px 5px 0 #1c1c1c, 5px 5px 0 #1c1c1c, -6px -6px 0 #1c1c1c, 6px -6px 0 #1c1c1c, -6px 6px 0 #1c1c1c, 6px 6px 0 #1c1c1c;
}
/* Account security update*/
.io-popup-container.svelte-18uhppj {
    background-color: #0a0a0a !important;
}
#genericPop > div > div.io-popup-content > div > div:nth-child(1) > div:nth-child(2) > ul > li:nth-child(1) {
    color: #ffffff !important;
}
#genericPop > div > div.io-popup-content > div > div:nth-child(1) > div:nth-child(2) > ul > li:nth-child(2) {
    color: #ffffff !important;
}

#genericPop > div > div.io-popup-content > div > div:nth-child(1) > div:nth-child(2) > ul > li:nth-child(3) {
     color: #ffffff !important;   
}
.streams-overlay.svelte-9szequ {
    position: absolute;
    top: 3px !important;
    right: 150px !important;
    background-color: rgb(0 0 0 / 45%) !important;
}
.streams-overlay.closed.svelte-9szequ {
    padding: 0px 16px !important;
    transform: scale(0.75) !important;
}
.streams-header.svelte-9szequ {
    margin-bottom: 0px !important;
}
.header-title-section.svelte-9szequ {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-right: 10px !important;
}
/* Community links */
.communityPopup {
    background-color: #00000099 !important;
    width: 1100px !important;
}
.svelte-118bkty {
    color: #ffffff !important;
}
.guideHeader {
    position: relative !important;
    color: transparent !important;
}
.guideHeader::after {
    content: "Community Links :)" !important;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 30px !important;
    color: white !important;
    text-align: center !important;
    background: rgba(0, 0, 0, 0.4) !important;
    padding: 10px !important;
    pointer-events: none !important;
    z-index: 9999 !important;
}
#spinInfo > div.spinInfoText > span:nth-child(1),
#spinInfo > div.spinInfoText > span:nth-child(2), 
#spinInfo > div.spinInfoText > span:nth-child(4), 
#spinInfo > div.spinInfoText > span:nth-child(5),
#spinInfo > div.spinInfoText > span:nth-child(5) > li:nth-child(1),
#spinInfo > div.spinInfoText > span:nth-child(5) > li:nth-child(2),
#spinInfo > div.spinInfoText > span:nth-child(5) > li:nth-child(3),
#spinInfo > div.spinInfoText > span:nth-child(5) > li:nth-child(4),
#spinEndTime {
    color: var(--white) !important;
}
#spinInfo > div.spinInfoText > span:nth-child(4) {
    border-bottom: solid 1px !important;
    width: 110px !important;
}
/*By HeroNight*/
